
// Импорт шрифтов
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
}

//Aquamarine theme (default theme for our website)
:root[data-theme='aquamarine'] {
  --bg-primary: #16181C;
  --bg-secondary: #26292F;
  --btn-primary: #434956;
  --text-primary: #ECF9FB;
  --text-secondary: #5A6272;
  --text-third: #AFB7C7;
  --text-red: #FF3B3B;
  --text-hover: #8a9495;
  --primary-violet: #8C00FF;
  --primary-pink: #EE00FF;
  --primary-blue: #505BE5;
  --ico-color: #9BA4AE;
  
  // Шрифты
  --font-primary: 'Comfortaa', sans-serif;
  --font-secondary: 'Arial', sans-serif;
  --font-heading: 'Comfortaa', sans-serif;
  --font-body: 'Comfortaa', sans-serif;
  --font-sans: 'Comfortaa', sans-serif;
}

// //Light theme
// :root[data-theme='light'] {
//   --bg-primary: #E5E7EB;
//   --bg-secondary: #FFFFFF;
//   --btn-primary: #FAFAFA;
//   --text-primary: #111827;
//   --text-secondary: #1A202C;
//   --text-third: #1A202C;
//   --text-red: #FF3B3B;
//   --primary-violet: #8C00FF;
//   --primary-pink: #EE00FF;
//   --primary-blue: #505BE5;
//   --ico-color: #1c1d1f;
// }

// //Dark theme
// :root[data-theme='dark'] {
//   --bg-primary: #000000;
//   --bg-secondary: #101013;
//   --btn-primary: #222329;
//   --text-primary: #ECF9FB;
//   --text-secondary: #B0BAC5;
//   --text-third: #AFB7C7;
//   --text-red: #FF3B3B;
//   --primary-violet: #8C00FF;
//   --primary-pink: #EE00FF;
//   --primary-blue: #505BE5;
//   --ico-color: #9BA4AE;
// }

.bg-bg-primary { background-color: var(--bg-primary); }
.bg-bg-secondary { background-color: var(--bg-secondary); }
.bg-btn-primary { background-color: var(--btn-primary); }
.bg-primary-violet { background-color: var(--primary-violet); }
.bg-primary-blue { background-color: var(--primary-blue); }
.bg-linear-violet { background: linear-gradient(180deg, #16181C 0%, #21003d 100%); }
.bg-linear-violet-pink { background: linear-gradient(to right, #B200FF 0%, #EE00FF 100%); }
.text-text-primary { color: var(--text-primary); }
.text-text-secondary { color: var(--text-secondary); }
.text-third { color: var(--text-third); }
.text-theme-card { color: var(--theme-card-text); }
.text-red { color: var(--text-red); }
.text-hover { color: var(--text-hover); }
.text-primary-violet { color: var(--primary-violet); }
.text-primary-pink { color: var(--primary-pink); }
.text-primary-blue { color: var(--primary-blue); }
.footer-bg { background-color: #121212; }

.body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
}